/*
 * In the name of GOD
 */

.ate_hidden_important {
	display: none!important;
}

#ATEditor {
	position:relative;
	width: 100%;
	border: 1px solid #ccc;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	height: 200px;
	font-family: Tahoma, Arial;
	text-rendering: geometricPrecision;
}

#ATEditor, #ATEditor div, #ATEditor span {
	box-sizing: border-box;
}

.ate_head {
	background: #f9f9f9;
	border-bottom: 1px solid #ccc;
	height: 35px;
}

.ate_body, .ate_source {
	position: absolute;
	top: 35px;
	left: 0;
	right: 0;
	bottom: 0;
	outline: 0;
	border: none;
	overflow: auto;
	padding: 10px;
	display: block;
	width: 100%;
	box-sizing: border-box;
	font-size: 13px;
	font-family: Tahoma;
	text-rendering: geometricPrecision;
}

.ate_btn {
	display: block;
	float: left;
	padding: 13px 5px 0 5px;
	height: 34px;
	width: 34px;
	text-align: center;
	vertical-align: middle;
	font-size: 11px;
	cursor: pointer;
	position:relative;
}

.ate_btn .ate_tooltip {
	position: absolute;
	background: #0d0d0d;
	border-radius: 4px;
	padding: 3px 5px;
	color: #fff;
	font-size: 13px;
	z-index: 1000;
	white-space: nowrap;
}

.ate_btn .ate_tooltip:before {
	display: block;
	position: absolute;
	border: 4px solid transparent;
	border-top: none;
	border-bottom: 4px solid #000;
	top:-4px;
	left: 50%;
	margin-left: -5px;
	content: ' ';
}

.ate_active {
	background: #eee;
}

/* Content */


/* Buttons */
#ate_btn_bold {

}


#ate_btn_italic {

}

#ate_btn_underline {

}

#ate_btn_removeformat {

}

#ate_btn_source {

}